<div class="ui text container">
    <h1 class="ui inverted header">{{ site.name }}</h1>
    <h2>{{ site.description }}</h2>
    <div class="badges">
        <a id="github-watch" href="{{ site.repository }}/watchers" target="_blank"><img src="https://img.shields.io/github/watchers/iROCKBUNNY/BYR-Navi.svg?style=social&label=Watch" alt="GitHub Watchers"></a>
        <a id="github-star" href="{{ site.repository }}/stargazers" target="_blank"><img src="https://img.shields.io/github/stars/iROCKBUNNY/BYR-Navi.svg?style=social&label=Star" alt="GitHub Stargazers"></a>
        <a id="github-fork" href="{{ site.repository }}/network/members" target="_blank"><img src="https://img.shields.io/github/forks/iROCKBUNNY/BYR-Navi.svg?style=social&label=Fork" alt="GitHub Forks"></a>
        <a id="version" href="{{ site.repository }}/commits" target="_blank" data-update-at="{{ site.time | date_to_xmlschema }}"><img src="https://img.shields.io/badge/%E6%9B%B4%E6%96%B0%E4%BA%8E-loading-orange.svg" alt="Update Time"></a>
    </div>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
</div>