/* task.css */

body {
    background-color: #DADADA;
}

body .grid {
    height: 100%;
}

.column {
    max-width: 450px;
}

#task-header {
    margin-bottom: 0;
}

#stimulus .ui.header {
    font-size: 10em;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#rsme-slider {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 100px;
}